// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#game-show {
  overflow: scroll;
}

#game {
  position: relative;
  margin: 0 auto;
  
  * {
    padding: 0;
    margin: 0;
    border: none;
  }
}
#game,
#game img {
  width: 1024px;
  z-index: 0;
}

