// Place all the styles related to the tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$light: #eee;
$dark: #111;
$green: #86F66C;
$blue: #7CC2F9;
$red: #F6778A;

#game {
  .tag {
    position: absolute;
    min-width: 128px;
    min-height: 128px;
    border-style: solid;
    border-color: $green;
  }
  #tagger {
    display: none;
    border-color: $blue;
  }
  // #tagger.locked {
  //   border-color: $red;
  // }
  #tagger .menu {
    display: none;
  }
  .tag p,
  #tagger .menu {
    position: absolute;
    top: 128px;
    left: -8px;
    background: $light;
    width: 128px;
    list-style: none;
    padding: 0;
    margin: 0;
    border-style: solid;
  }
  .tag p,
  #tagger.locked .menu{
    display: block;
    border: inherit;
  }
  .tag p,
  #tagger .menu a {
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
    text-decoration: none;
    text-align: center;
  }
  #tagger .menu a:hover {
    background: darken($light, 10%);
  }
  .tag .delete-link {
    display: block;
    position: absolute;
    width: 32px;
    height: 32px;
    top: -16px;
    right: -16px;
    background: $light;
    border: 4px solid $red;
    border-radius: 50%;
    text-align: center;
  }
}


